<div class="roll-container"
	layout="column"
	layout-align="start center">

	<div class="goback-btn">
		<md-button
			class="md-icon-button"
			aria-label="Go Back"
			ng-click="enableScrollChat()"
			ui-sref="main"
			ng-disabled="lockInput">
			<md-icon 
				md-svg-icon="assets/icon/ic_keyboard_backspace_white_24px.svg">
			</md-icon>
		</md-button>
	</div>

	<div class="roll-type">
		<md-tabs md-dynamic-height
			md-border-bottom
			md-center-tabs="true"
			md-stretch-tabs="always">
		  <md-tab label="按关键字"
		  	ng-click="rollType='keyWord';"
		  	ng-disabled="lockInput">
		    <md-content class="md-padding roll-tab roll-key">
				<md-input-container class="md-block">
					<label>请输入关键字:</label>
					<input ng-model="rollKey" ng-disabled="lockInput">
				</md-input-container>
		    </md-content>
		  </md-tab>
		  <md-tab label="按鱼丸"
		  	ng-click="rollType='gift';"
		  	ng-disabled="lockInput">
		    <md-content class="md-padding roll-tab"
		    	layout="row"
				layout-align="center center">
				<md-radio-group ng-model="giftType"
					layout="row"
					layout-align="center center">
					<md-radio-button value="luck"
						class="md-primary"
						ng-disabled="lockInput">比运气</md-radio-button>
					<md-radio-button value="amount"
						class="md-primary"
						ng-disabled="lockInput">比数量</md-radio-button>
				</md-radio-group>
		    </md-content>
		  </md-tab>
		</md-tabs>
	</div>

	<div class="roll-num"
		layout="row"
		layout-align="space-around stretch">
		<md-input-container class="md-block roll-num-input">
			<label>请输入要Roll的人数:</label>
			<input ng-model="rollNum" ng-disabled="lockInput">
		</md-input-container>
		 <md-button class="md-raised roll-start-btn"
		 	ng-click="rollFunc()">
		 	{{ rollBtnText }}
		 </md-button>
	</div>

	<div class="roll-candidates">
		<div class="roll-gift-candi-wrapper" 
			ng-if="rollType==='gift'">
			<div flex class="gift-candi-header"
				layout="row"
				layout-align="space-around center"
				ng-if="candidates.length > 0">
				<span flex="50"
					layout="row"
					layout-align="center center">斗鱼ID</span>
				<span flex="50"
					layout="row"
					layout-align="center center">总价值</span>
			</div>
			<div flex
				layout="row"
				layout-align="space-around center"
				ng-repeat="candi in candidates | orderBy: ['-getLucky', '-giftValue']"
				ng-class="{'gift-candi-top': $index<rollNum, 'lucky-candi': candi.getLucky}">
				<span flex="50"
					layout="row"
					layout-align="center center">{{candi.userName}}</span>
				<span flex="50"
					layout="row"
					layout-align="center center">{{candi.giftValue}}</span>
			</div>
		</div>
		<div layout="row"
			layout-wrap
			ng-if="rollType==='keyWord'">
			<div flex="50"
				layout="row"
				layout-align="center center"
				class="key-candi"
				ng-repeat="candi in candidates | orderBy:'-getLucky'"
				ng-class="{'lucky-candi': candi.getLucky}">
				{{candi.userName}}
			</div>
		</div>
	</div>
</div>