<div class="main-container"
	layout="column"
	layout-align="start center">
	<div class="top-bar"
		layout="row"
		layout-align="space-around center">
		<md-input-container class="md-block room-addr">
			<label>输入直播间地址</label>
			<input ng-model="roomAddr">
		</md-input-container>
		<md-button class="md-raised md-primary"
			ng-click="startGetMsg()">获取弹幕</md-button>
	</div>
	<div class="room-info" 
		ng-if="roomInfoStatus.isReady"
		layout="column"
		layout-align="center stretch">
		<div class="room-info-row"
			 layout="row"
			 layout-align="space-between center">
			<div>{{roomInfo.roomName}}</div>
			<div>{{roomInfo.anchor}}</div>
		</div>
		<div class="room-info-row"
			 layout="row"
			 layout-align="space-between center">
			<div ng-class="roomInfo.isLive===1?'online':'offline'">{{roomInfo.isLive===1?"直播中":"未直播"}}</div>
			<div ng-if="roomInfo.spectator">人气: {{roomInfo.spectator}}</div>
		</div>
	</div>

	<div class="danmu-search-bar"
		ng-show="openSearchBar">
		<md-input-container class="md-block" flex-gt-sm>
			<label>请输入要搜索的内容:</label>
			<input ng-model="danmuFilter">
			<md-icon 
				ng-click="clearFilter()"
				md-svg-src="assets/icon/ic_clear_black_24px.svg"
				style="display:inline-block;"></md-icon>
		</md-input-container>
	</div>

	<div class="chat-room" id="chat-room-id">
		<div class="msg-item"
			ng-repeat="item in messages | filter: {$:danmuFilter} track by $index "
			ng-if="item.type!=='unknown'">
			<div class="chat-msg"
				ng-if="item.type==='msg'">
				<span class="chat-user">{{ item.userName }}</span>
				<span class="msg-content">: {{ item.content }}</span>
			</div>
			<div class="chat-gift"
				ng-if="item.type==='gift'">
				<span class="gift-user">{{ item.userName }}</span>
				<span>赠送: </span>
				<span class="gift-name">{{ item.giftName }}</span>
				<span> x </span>
				<span class="gift-count">{{ item.hits }}</span>
			</div>
			<div class="chat-user-enter"
				ng-if="item.type==='userEnter'">
				<span>欢迎 </span>
				<span class="enter-user">{{ item.userName }}</span>
				<span> 进入直播间</span>
			</div>
			<div class="chat-black-list"
				ng-if="item.type==='blackList'">
				<span class="black-list-user"> {{ item.userName }}</span>
				<span> 被管理员 </span>
				<span class="manager-name"> {{ item.managerName }} </span>
				<span> 禁言 </span>
				<span class="ban-time"> {{ item.time }} </span>
				<span> 小时</span>
			</div>
		</div>
	</div>

	<div class="setting-fab-dial"
		layout="row"
		layout-align="center center"
		>
		<md-fab-speed-dial 
			md-direction="up"
			md-open="isOpenDial"
			class="md-scale"
			ng-mouseenter="isOpenDial=true"
			ng-mouseleave="isOpenDial=false">
	      <md-fab-trigger>
	        <md-button aria-label="settings"
	        	class="md-fab md-raised md-mini setting-icon">
	          <md-icon
	          	class="setting-icon" 
	          	md-svg-src="assets/icon/ic_view_list_black_24px.svg"></md-icon>
	        </md-button>
	      </md-fab-trigger>

	      <md-fab-actions>
	      	   <md-button
	          	class="md-fab md-raised md-mini"
	          	ng-click="openSearchBar=true">
	            <md-tooltip md-autohide="true"
	            	md-direction="left">
	            	搜索弹幕
	            </md-tooltip>
	            <md-icon md-svg-src="assets/icon/ic_search_black_24px.svg" ></md-icon>
	          </md-button>
	          <md-button
	          	class="md-fab md-raised md-mini"
	          	ng-click="disableScroll()"
	          	ui-sref="roll">
	            <md-tooltip md-autohide="true"
	            	md-direction="left">
	            	ROLL
	            </md-tooltip>
	            <md-icon md-svg-src="assets/icon/ic_group_work_black_24px.svg" ></md-icon>
	          </md-button>
	          <md-button
	          	class="md-fab md-raised md-mini"
	          	ng-click="toggleScroll()">
	            <md-tooltip md-autohide="true"
	            	md-direction="left">
	            	{{toggleScrollFabStatus.tooltip}}
	            </md-tooltip>
	            <md-icon md-svg-src="{{ toggleScrollFabStatus.icon }}" ></md-icon>
	          </md-button>
	      </md-fab-actions>
	    </md-fab-speed-dial>
	</div>
</div>