//color
$red-400: #EF5350;
$red-500: #F44336;
$red-700: #D32F2F;
$red-800: #C62828;
$red-900: #B71C1C;

$grey-100: #F5F5F5;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$yellow-a200: #FFFF00;

$light-green-a400: #76FF03;

$blue-500: #2196F3;
$blue-900: #0D47A1;

$light-green-500: #8BC34A;

$purple-500: #9C27B0;
