.roll-container {
	background-color: $grey-300;
	width: 100vw;
	height: 100vh;

	.goback-btn {
		position: absolute;
		top: 4px;
		z-index: 2;
	}

	.roll-type {
		width: 100vw;

		.md-tab {
			background-color: $grey-700;
			color: $grey-100;
			&.md-active {
				background-color: $grey-900;
			}
		}

		.roll-tab {
			background-color: $grey-300;
			padding: 2px;
			height: 60px;
			overflow: hidden;

			&.roll-key {
				padding: 0 10px;
			}
		}

		md-ink-bar {
			color: $blue-900;
			background-color: $blue-900;
		}
	}

	.roll-num {
		width: 100vw;
		height: 60px;
		color: white;
		border-bottom: solid 2px $red-700;

		.roll-num-input {
			width: 60vw;
		}

		.roll-start-btn {
			color: $green-700;
			// min-width: 55px;
		}
	}
	
	.roll-candidates {
		height: $roll-candi-height;
		width: 100vw;
		background-color: $grey-800;
		overflow-y: scroll;
		overflow-x: hidden;
		color: white;
		
		.roll-gift-candi-wrapper {
			height: 100%;
			width: 100%;

			.gift-candi-header {
				height: 30px;
				background-color: $grey-900;
				color: $grey-100;
				border-bottom: solid $red-700 2px;
			}

			.gift-candi-top {
				color: $red-700;
				height: 30px;
				font-weight: bold;
				font-size: 110%; 
				background-color: $yellow-a700;
			}
		}

		.key-candi {
			padding: 3px 0;
			color: $yellow-a700;
		}
		.key-candi:hover {
			color: $light-green-a400;
			background-color: $grey-900;
			box-shadow: 0 0 1px 1px white;
			cursor: pointer;
		}
		.lucky-candi {
			color: white;
			background-color: $red-700;
			box-shadow: 0 0 1px 1px $yellow-a700;
		}
	}
}